<ion-header>
  <div class="head p-2">
    <div class="d-flex">
      <ion-buttons [routerLink]="['/loker']" class="mt-2">
        <ion-icon
          name="chevron-back-circle-outline"
          style="font-size: 40px"
        ></ion-icon>
      </ion-buttons>
      <div class="w-100 text-center align-items-center">
        <h2 class="h2-header">Tambah Loker</h2>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <ion-list lines="full" class="p-3">
    <div class="d-block mb-2">
      <ion-label posistion="floating" class="mb-2">Posisi</ion-label>
      <ion-input required [(ngModel)]="posisi" class="form-control" placeholder="Posisi pekerjaan" focused></ion-input>
    </div>
    <div class="d-block mb-2">
      <ion-label posistion="floating">Cabang</ion-label>
      <ion-input required [(ngModel)]="cabang" class="form-control" placeholder="Cabang pekerjaan"></ion-input>
    </div>
    <div class="d-block mb-2">
      <ion-label posistion="floating">Gaji</ion-label>
      <ion-input required [(ngModel)]="gaji" class="form-control" placeholder="Gaji pekerjaan"></ion-input>
    </div>
    <div class="d-block">
      <ion-label posistion="floating">Deskripsi</ion-label>
      <ion-textarea required [(ngModel)]="deskripsi" class="form-control mt-0 p-1" placeholder="Deskripsi pekerjaan" rows="20"></ion-textarea>
    </div>
    <div class="d-flex mt-2">
      <ion-button type="button" color="dark" class="me-2" [routerLink]="['/loker']">Cancel</ion-button>
      <ion-button type="button" (click)="tambahLoker()" color="primary">Simpan</ion-button>
    </div>
  </ion-list>
</ion-content>
