<ion-header>
  <div class="head p-2">
    <div class="d-flex">
      <ion-buttons [routerLink]="['/kualifikasi']" class="mt-2">
        <ion-icon
          name="chevron-back-circle-outline"
          style="font-size: 40px"
        ></ion-icon>
      </ion-buttons>
      <div class="w-100 text-center align-items-center">
        <h2 class="h2-header">Interview</h2>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="container d-block pt-3">
    <div class="p-2 text-start">
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="search" class="w-100" placeholder="Cabang" >
            <ion-select-option *ngFor="let cabang of Cabang">{{cabang.l_cabang}}</ion-select-option>
          </ion-select>
          <ion-button color="primary" type="button" (click)="Search()">Search</ion-button>
        </ion-item>
      </ion-list>
      <div class="card p-4 d-block mb-2 shadow" *ngFor="let melamar of Melamar">
        <div class="d-flex mb-1">
          <h4 class="">{{melamar.posisi}} |</h4>
          <h4 class="ms-1">{{melamar.cabang}}</h4>
        </div>
        <div class="d-flex">
          <h5 class="mb-1">NIK :</h5>
          <h6 class="ms-1">{{melamar.nik}}</h6>
        </div>
        <div class="mb-0">
          <h5 class="mb-0 mt-2">Nama :</h5>
          <h6 class="mb-1 mt-2">{{melamar.nama}}</h6>
        </div>
        <div class="d-flex mt-0 mb-0">
          <h5 class="">Nilai Test :</h5>
          <h6 class="ms-1">{{melamar.nilai_tst}}</h6>
        </div>
        <div class="d-flex mt-0 mb-0">
          <h5 class="mt-1">Tgl Melamar :</h5>
          <h6 class="ms-1 mt-1">{{melamar.tgl_melamar}}</h6>
        </div>
        <div class="d-flex mt-0 mb-2">
          <h5 class="mt-0">Status :</h5>
          <h6 class="mt-0 ms-1">{{melamar.kualifikasi}}</h6>
        </div>
        <div class="w-100">
          <ion-button type="button" color="dark" slot="end" (click)="editKualifikasi('Gagal', melamar.id_melamar)">Gagal</ion-button>
          <ion-button type="button" color="primary" slot="end" (click)="editKualifikasi('Lolos', melamar.id_melamar)">Lolos</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
